<% content_for :secondary_title do %>
  Administrative Portal
<% end %>

<% content_for :secondary_nav do %>
	<p><%= link_to "Manage Categories", categories_path %></p>
	<p><%= link_to "Manage Notices", notices_path %></p>
	<p><%= link_to "Manage Titles", titles_path %></p>
	<p><%= link_to "Manage Records", '#notimplemented' %></p>
	<p><%= link_to "Manage Admistrators", '#notimplemented' %>
<% end %>

<% if @pending_returns.empty? %>
  <p>No returns are pending approval. Good job, DCO!</p>
<% else %>
  <%= render "records/records_table", records: @pending_returns, display_borrower: true %>
<% end %>

<% console %>
