<% content_for :secondary_title do %>
  Administrative Portal
<% end %>

<% content_for :secondary_nav do %>
  <%= link_to "Show All Unreturned", admin_unreturned_path %>
  <%= link_to "Show Long Term Loans", admin_longterm_path %>
	<%= link_to "Manage Titles and Categories", categories_path %>
	<%= link_to "Manage Records", records_path %>
  <%= link_to "Manage DCO Offices", offices_path %>
  <%= link_to "Manage Notices", notices_path %>
  <%= link_to "Manage Users", users_path %>
  <%= link_to "Back", '/' %>
<% end %>

<h3>Pending Approval</h3>
<% if @pending_returns.empty? %>
  <p>No returns are pending approval. Good job, DCO!</p>
<% else %>
  <p>The following returns are pending approval. Please make sure all items have been returned before approving the request.</p>
  <%= render "records/table", records: @pending_returns, display: [:name, :category, :borrower, :in, :due] %>
<% end %>

<h3>Overdue</h3>
<% if @overdue.empty? %>
  <p>No items are overdue. Way to go!</p>
<% else %>
  <p>The following items have not been returned and are past their due date.</p>
  <%= render "records/table", records: @overdue, display: [:name, :category, :borrower, :due] %>
<% end %>

<p class="todo-message">TODO: add bulk/checkbox-style approve returns</p>
