<% content_for :secondary_title do %>
  Administrative Portal
<% end %>

<% content_for :secondary_nav do %>
	<%= link_to "Manage Categories", categories_path %>
	<%= link_to "Manage Notices", notices_path %>
	<%= link_to "Manage Titles", titles_path %>
	<%= link_to "Manage Records", records_path %>
  <%= link_to "Manage DCO Offices", offices_path %>
<% end %>

<% if @pending_returns.empty? %>
  <p>No returns are pending approval. Good job, DCO!</p>
<% else %>
  <p>The following returns are pending approval. Please make sure all items have been returned before approving the request.</p>
  <%= render "records/records_table", records: @pending_returns, display: [:name, :category, :borrower, :in, :due] %>
<% end %>

<% console %>
