<% content_for :show_nav do %>
	<p><%= link_to "Manage Categories", categories_path %></p>
	<p><%= link_to "Manage Notices", notices_path %></p>
	<p><%= link_to "Manage Titles", titles_path %></p>
	<p><%= link_to "Manage Records", '#notimplemented' %></p>
	<p><%= link_to "Manage Admistrators", '#notimplemented' %>
<% end %>

<%= render "show_with_nav", title: "Administrative Portal" do %>
	<p>This is where the proxy checkout form will appear. I am views/admin/index.html.erb</p>
<% end %>
<% console %>
