<% display ||= {} %>
<table class="index-table" style="margin-top: 20px">
  <tr>
    <% if :name.in? display %>
      <th colspan=2>Item</th>
    <% end %>
    <% if :category.in? display %>
      <th>Category</th>
    <% end %>
    <% if :borrower.in? display %>
      <th>Borrower</th>
    <% end %>
    <% if :office.in? display %>
      <th>Office</th>
    <% end %>
    <% if :note.in? display %>
      <th>Note</th>
    <% end %>
    <% if :out.in? display %>
      <th>Out</th>
    <% end %>
    <% if :in.in? display %>
      <th>In</th>
    <% end %>
    <% if :due.in? display %>
      <th>Due</th>
    <% end %>
  </tr>
  <% records.each do |record| %>
    <tr>
      <% if :name.in? display %>
        <td><%= link_to record.title.name, record %></td>
        <td style="min-width: 0">
          <% if administrator? and :edit_link.in? display %>
            <%= link_to "(edit)", edit_record_path(record) %>
          <% end %>
          <% if record.in.nil? and record.borrower == uniqname and :return_link.in? display%>
            <%= link_to "(return)", return_path(record) %>
          <% end %>
        </td>
      <% end %>
      <% if :category.in? display %>
        <td><%= link_to record.title.category.name, record.title.category %></td>
      <% end %>
      <% if :borrower.in? display %>
        <td><%= link_to record.borrower, account_path(uniqname: record.borrower) %></td>
      <% end %>
      <% if :office.in? display %>
        <td>
          <%= record.office.name %>
        </td>
      <% end %>
      <% if :note.in? display %>
        <td><%= short_text record.note %></td>
      <% end %>
      <% if :out.in? display %>
        <td><%= format_datetime record.out%></td>
      <% end %>
      <% if :in.in? display %>
        <td><%= format_datetime record.in unless record.in.nil? %></td>
      <% end %>
      <% if :due.in? display %>
        <% if record.due %>
          <% past_due = DateTime.current > record.due %>
          <td class=<%= '"past-due"' if past_due %>><%= format_datetime record.due %><%= " (past due)" if past_due %></td>
        <% else %>
          <td>Loaned indefinitely</td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>