<%= form_for(title) do |f| %>
  <% if title.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(title.errors.count, "error") %> prohibited this title from being saved:</h4>

      <ul>
      <% title.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :category %><br>
    <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </p>

  <p>
    <%= f.label :office %><br>
    <%= f.collection_select(:office_id, Office.all, :id, :name) %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :notice %><br>
    <%= f.select(:notice_id, Notice.all.collect {|n| [ n.name, n.id ] }, {include_blank: '-- None --'}) %>
    <!--<%= f.collection_select(:notice_id, Notice.all, :id, :name) %>
    -->
  </p>
  <p>
    <%= f.label :n_available %><br>
    <%= f.text_field :n_available %>
  </p>

  <p>
    <%= f.label :loan_length %><br>
    <%= f.text_field :loan_length %>
  </p>

  <p>
    <%= f.label :enabled %>
    <%= f.check_box :enabled %>
  </p>
   
  <p>
    <%= f.submit %>
  </p>
<% end %>
