<%= form_for(title) do |f| %>
  <% if title.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(title.errors.count, "error") %> prohibited this title from being saved:</h4>

      <ul>
      <% title.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.label :category %>
    <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </div>

  <div>
    <%= f.label :office %>
    <%= f.collection_select(:office_id, Office.all, :id, :name) %>
  </div>
 
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :notice %>
    <%= f.select(:notice_id, Notice.all.collect {|n| [ n.name, n.id ] }, {include_blank: '-- None --'}) %>
    <!--<%= f.collection_select(:notice_id, Notice.all, :id, :name) %>
    -->
  </div>
  <div>
    <%= f.label :n_available %>
    <%= f.text_field :n_available %>
  </div>

  <div>
    <%= f.label :options_str, "Options" %>
    <%= f.text_area :options_str %>
  </div>

  <div>
    <%= f.label :loan_length %>
    <%= f.text_field :loan_length %>
  </div>

  <div>
    <%= f.label :enabled %>
    <%= f.check_box :enabled %>
  </div>
   
  <div>
    <%= f.submit %>
  </div>
<% end %>
