<h1>Titles in <%= category.name %></h1>
<p>Find me in app/views/titles/_index_by_category.html.erb</p>
<p><%= link_to "Create a new title for checkout...", new_title_path(category: category) %>
<p>Here are the titles I have in my database.</p>
<table class="index-table">
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Description</th>
  </tr>
  <% titles.each do |title| %>
    <tr>
      <td><%= link_to title.name, title %></td>
      <td><%= link_to title.category.name, title.category %></td>
      <td><%= short_text title.description %></td>
    </tr>
  <% end %>
</table>
