<table class="index-table" style="margin-top: 20px">
  <tr>
    <th colspan=2>Name</th>
    <th>Description</th>
    <th>Notice</th>
    <th>Available</th>
    <th>Form?</th>
    <th>Loan Length</th>
  </tr>
  <% @category.titles.each do |title| %>
    <tr>
      <td><%= link_to title.name, title %></td>
      <td>
        <% if administrator? %>
          <%= link_to "(edit)", edit_title_path(title) %><br> 
        <% end %>
        <%= link_to "(checkout)", checkout_path(title) %>
      </td>
      <td><%= short_text title.description %></td>
      <td>
        <% unless title.notice.nil? %>
          <%= link_to title.notice.name, title.notice %></td>
        <% end %>
      </td>
      <td style="text-align: center;"><%= title.n_available%> / <%= title.n_available %></td>
      <td><%= title.form_required ? "Yes" : "No" %></td>
      <td><%= title.max_loan %></td>
    </tr>
  <% end %>
</table>
<p class="todo-message">TODO: Add a building column, add filter by building</p>