<h2>Unreturned Items Report</h2>
<p>Hello, DCO! The following items are overdue. Please make them return their thing.</p>
<p>As a reminder, Linda is currently the only staff member authorized to use lethal force to collect overdue items. Everyone else is limited to simple, non-fatal incapacitation methods.</p>

<% display = [:name, :borrower, :office, :due] %>
<table class="index-table" style="margin-top: 20px">
  <tr>
    <% if :name.in? display %>
      <th>Item</th>
    <% end %>
    <% if :category.in? display %>
      <th>Category</th>
    <% end %>
    <% if :borrower.in? display %>
      <th>Borrower</th>
    <% end %>
    <% if :office.in? display %>
      <th>Office</th>
    <% end %>
    <% if :note.in? display %>
      <th>Note</th>
    <% end %>
    <% if :out.in? display %>
      <th>Out</th>
    <% end %>
    <% if :in.in? display %>
      <th>In</th>
    <% end %>
    <% if :due.in? display %>
      <th>Due</th>
    <% end %>
  </tr>
  <% @records.each do |record| %>
    <tr>
      <% if :name.in? display %>
        <td><%= link_to record.title.name, record %></td>
      <% end %>
      <% if :category.in? display %>
        <td><%= link_to record.title.category.name, record.title.category %></td>
      <% end %>
      <% if :borrower.in? display %>
        <td><%= link_to record.borrower, account_url(uniqname: record.borrower) %></td>
      <% end %>
      <% if :office.in? display %>
        <td>
          <%= record.office.name %>
        </td>
      <% end %>
      <% if :note.in? display %>
        <td><%= short_text record.note %></td>
      <% end %>
      <% if :out.in? display %>
        <td><%= record.out.strftime(Rails.configuration.datetime_format) %></td>
      <% end %>
      <% if :in.in? display %>
        <td><%= record.in.strftime(Rails.configuration.datetime_format) unless record.in.nil? %></td>
      <% end %>
      <% if :due.in? display %>
        <% if record.due %>
          <% past_due = DateTime.current > record.due %>
          <td class=<%= '"past-due"' if past_due %>><%=record.due.strftime(Rails.configuration.datetime_format) %><%= " (past due)" if past_due %></td>
        <% else %>
          <td>Loaned indefinitely</td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<p>... and may the odds be ever in your favor...</p>
