<% content_for :secondary_title do %>
  <%= @category.name %>
<% end %>

<% content_for :secondary_description do %>
  <%= @category.description %>
<% end %>

<% content_for :secondary_nav do %>
  <% if administrator? %>
    <%= link_to 'New Title', new_title_path(category_id: @category) %>
	  <%= link_to 'Edit Category', edit_category_path(@category) %>
  <% end %>
	<%= link_to 'Back', :back %>
<% end %>

<% unless @category.enabled %>
  <div class="notice">
    <p>
      This category is disabled; its titles are not available for checkout.
      <% if administrator? %>
        You can enable this category by enabling some titles within it, or by adding new titles.
      <% end %>
    </p>
  </div>
<% end %>

<%= render "titles/table", titles: @category.titles,
    display: [:enable_checkbox, :edit_link, :description, :notice, :office, :n_available, :loan_length] %>
