<header>
  <div id="header-container">
    <%= image_tag "block_M_transparent.png", id: "block-M" %>
    <h1>DCO Checkout System</h1>
    <nav>
      <%= link_to "Home", :controller => "welcome" %>
      <%= link_to "Checkout", :controller => "records", :action => "new" %>
      <%= link_to "Return" %>
      <%= link_to "Account", :controller => "records", :action => "index" %>
      <%= link_to "Statistics" %>
      <%= link_to "DCO Staff" %>
    </nav>
  </div>
</header>
