<% content_for :secondary_title do %>
  <%= @uniqname %>
<% end %>

<% content_for :secondary_nav do %>
  <%= link_to "Account History", account_history_path(@uniqname) %>
  <%= link_to "Account Statistics", account_statistics_path(@uniqname) %>
  <%= link_to "Back", :back %>
<% end %>

<% unless @overdue.empty? %>
  <h3>Overdue</h3>
  <%= render "records/table", records: @overdue,
      display: [:name, :category, :out, :due] %>
<% end %>

<% unless @out.empty? %>
  <h3>Out</h3>
  <%= render "records/table", records: @out,
      display: [:name, :category, :out, :due] %>
<% end %>

<% if total_checkouts == 0 %>
  <h3><%= (@uniqname == uniqname) ? ("You have") : (@uniqname + " has") %> never checked anything out.</h3>
<% end %>

<%= pie_chart @pie_chart_params if @pie_chart_params.present? %>